build/
*.kate-swp
lib1090.*
*.o
dump1090
testfiles/*.bin
misc
frames.js
.*.swp
*~
*.rej
*.orig
untrackedDeveloperSettings.js
view1090
faup1090
package-wheezy
.DS_Store
.idea/workspace.xml
CMakeFiles
CMakeScripts
CMakeCache.txt
build
cmake_install.cmake
.DS_Store
